$creamColor: #ffe5a2;
$bg-blue: #243763;
$bg-orange: #ff6e31;
$a-color: #ffe5a5;
$bg-orange: #e8652e;
$title-color: #ffebb7;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
}

.row-limit-size {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $creamColor;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: $title-color;

  @media screen and (min-width: 950px) {
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
  }
}

h3 {
  font-family: "Ultra", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 124%;
  color: $title-color;
}

h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
}

// ------------ header section ------------

header {
  // background-blend-mode:overlay ;
  mix-blend-mode: overlay;
  opacity: 1;
  background-image: url(../img/burger-mobile.png);

  nav {
    border-bottom: 0.5px solid $creamColor;
    background-color: $bg-blue;

    div#container-nav-top {
      width: 90%;
      height: 80px;
      display: flex;
      align-items: center;

      div#group-logo {
        margin-right: auto;

        a {
          font-family: "Ultra";
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          text-transform: uppercase;
          color: $creamColor;
        }
      }

      div#menu-nav {
        ul {
          display: none;

          @media screen and (min-width: 950px) {
            display: flex;
          }

          li {
            margin-left: 16px;
            margin-right: 16px;

            a {
              font-family: "Ultra";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              text-transform: uppercase;
              color: $creamColor;
            }
          }
        }
      }

      div#menu-picto {
        margin-left: auto;

        ul {
          display: flex;

          li#picto-favorite,
          li#picto-profile {
            display: none;

            @media screen and (min-width: 950px) {
              display: block;
            }
          }

          li#picto-burger {
            display: block;

            @media screen and (min-width: 950px) {
              display: none;
            }
          }

          li {
            @media screen and (min-width: 950px) {
              margin-left: 16px;
              margin-right: 16px;
            }

            a {
              img {
                width: 24px;
                height: auto;
              }

              div#container-menu-buger {
                height: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                @media screen and (min-width: 950px) {
                  display: none;
                }

                div.item-common-burger {
                  width: 18px;
                  height: 2px;
                  background-color: $creamColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ------------ hero section ------------
section#hero-section {
  background-color: $bg-blue;
  padding-bottom: 100px;

  @media screen and (min-width: 950px) {
    padding-top: 80px;
  }

  div#container-hero-section {
    width: 90%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 950px) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    div#item-left-hero {
      @media screen and (min-width: 950px) {
        width: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: url(../img/picto/Ornament-top.svg);
          top: -40px;
        }
      }

      span {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 28px;
        margin-bottom: 8px;
        margin: 28px 30px 8px 0;
        color: $creamColor;
      }

      p {
        font-size: 20px;
        line-height: 155%;
        text-align: center;
        margin-top: 16px;
        color: $creamColor;
      }

      a#btn-show-recipe {
        display: flex;
        margin: 25px auto 40px;
        width: 250px;
        height: 51px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        padding: 12px 24px 12px 12px;
        background: $bg-orange;
        color: $a-color;
        border-radius: 100px;

        @media screen and (min-width: 950px) {
          width: 50%;
        }

        img {
          margin-right: 8px;
        }
      }
    }

    figcaption#item-right-hero {
      position: relative;
      text-align: center;

      @media screen and (min-width: 950px) {
        width: 50%;
      }

      &::before {
        position: absolute;
        content: url(../img/picto/star.svg);

        @media screen and (min-width: 950px) {
          display: none;
          width: 50%;
        }
      }

      &::after {
        position: absolute;
        content: url(../img/picto/Ornament-bottom.svg);
        bottom: -70px;
        right: 10%;
        transform: translate(-50%, -50%);

        @media screen and (min-width: 950px) {
          &::after {
            position: absolute;
            content: url(../img/picto/star.svg);
          }

          &::before {
            position: absolute;
            content: url(../img/picto/star.svg);
          }
        }

        @media screen and (min-width: 950px) {
          width: 50%;
        }
      }

      img {
        width: 280px;
        height: auto;
      }
    }
  }
}

// ------------ Last-recipe section ------------

section#last-recipe-section {
  background-color: $bg-orange;
  padding-bottom: 60px;
  padding-top: 40px;

  @media screen and (min-width: 950px) {
    padding-top: 80px;
  }

  div#container-card-last-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    text-align: center;

    @media screen and (min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    div#card-last-recipe {
      position: relative;
      width: 220px;
      margin: 0 20px 120px 20px;
      display: flex;
      flex-direction: column;

      h2#title-last-recipe-section {
        text-decoration: underline;
        margin-bottom: 40px;
      }

      h3#title-description-card {
        margin-top: 15px;
        margin-bottom: 20px;
      }

      figcaption {
        height: 100px;
        background-color: $bg-blue;
        background-position: 50%;
        border-radius: 25px;

        @media screen and (min-width: 750px) {
          height: 120px;
        }

        img {
          position: absolute;
          width: 80%;
          height: auto;
          top: -60px;
          left: 18px;
        }
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: $title-color;
      }
    }
  }
}

// ------------ share-recipe section ------------

section#share-recipe-section {
  background-color: $bg-orange;
  padding-top: 80px;

  div#container-card-share-recipe {
    figcaption {
      position: relative;
      width: 280px;
      height: 355px;
      background-image: url(../img/picto/Image-pict-food.jpg);
      background-repeat: no-repeat;
      margin: 0 auto;

      img {
        position: absolute;
        left: 25%;
        bottom: -40px;
      }
    }
  }
}
