$creamColor: #ffe5a2;
$bg-blue: #243763;
$bg-orange: #ff6e31;
$a-color: #ffe5a5;
$bg-orange: #e8652e;
$title-color: #ffebb7;
$bg-creame: #ffe7ab;
$text-color: #ffe39a;
$white: #fff;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
}

.row-limit-size {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $creamColor;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: $title-color;

  @media screen and (min-width: 950px) {
    font-size: 44px;
    line-height: 100%;
  }
}

h3 {
  font-family: "Ultra", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 124%;
  color: $title-color;
}

h4 {
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (min-width: 950px) {
    font-size: 72px;
    line-height: 80px;
  }
}

h5 {
  font-family: "Ultra", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

// ------------ header section ------------

header {
  // background-blend-mode:overlay ;
  mix-blend-mode: overlay;
  opacity: 1;
  background-image: url(../img/burger-mobile.png);

  nav {
    border-bottom: 0.5px solid $creamColor;
    background-color: $bg-blue;

    div#container-nav-top {
      width: 90%;
      height: 80px;
      display: flex;
      align-items: center;

      div#group-logo {
        margin-right: auto;

        a {
          font-family: "Ultra";
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          text-transform: uppercase;
          color: $creamColor;
        }
      }

      div#menu-nav {
        ul {
          display: none;

          @media screen and (min-width: 950px) {
            display: flex;
          }

          li {
            margin-left: 16px;
            margin-right: 16px;

            a {
              font-family: "Ultra";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              text-transform: uppercase;
              color: $creamColor;
            }
          }
        }
      }

      div#menu-picto {
        margin-left: auto;

        ul {
          display: flex;

          li#picto-favorite,
          li#picto-profile {
            display: none;

            @media screen and (min-width: 950px) {
              display: block;
            }
          }

          #picto-profile:hover + #sub-menu {
            display: block;
          }

          li#picto-burger {
            display: block;

            @media screen and (min-width: 950px) {
              display: none;
            }
          }

          li {
            @media screen and (min-width: 950px) {
              margin-left: 16px;
              margin-right: 16px;
            }

            a {
              img {
                width: 24px;
                height: auto;
              }

              div#container-menu-buger {
                height: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                @media screen and (min-width: 950px) {
                  display: none;
                }

                div.item-common-burger {
                  width: 18px;
                  height: 2px;
                  background-color: $creamColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ------------ hero section ------------
section#hero-section {
  background-color: $bg-blue;
  padding-bottom: 100px;

  @media screen and (min-width: 950px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  div#container-hero-section {
    width: 90%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 950px) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    div#item-left-hero {
      @media screen and (min-width: 950px) {
        width: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: url(../../img/picto/Ornament-top.svg);
          top: -40px;
        }
      }

      span {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 28px;
        margin-bottom: 8px;
        margin: 28px 30px 8px 0;
        color: $creamColor;
      }

      p {
        font-size: 20px;
        line-height: 155%;
        text-align: center;
        margin-top: 16px;
        color: $creamColor;
      }

      a#btn-show-recipe {
        display: flex;
        margin: 35px auto 40px;
        width: 250px;
        height: 51px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        padding: 12px 24px 12px 12px;
        background: $bg-orange;
        color: $a-color;
        border-radius: 100px;

        @media screen and (min-width: 950px) {
          width: 50%;
          margin: 45px auto 40px;
        }

        img {
          margin-right: 8px;
        }
      }
    }

    figcaption#item-right-hero {
      position: relative;
      text-align: center;

      @media screen and (min-width: 950px) {
        width: 50%;
      }

      &::before {
        position: absolute;
        content: url(../../img/picto/star.svg);

        @media screen and (min-width: 950px) {
          display: none;
          width: 50%;
        }
      }

      &::after {
        position: absolute;
        content: url(../../img/picto/Ornament-bottom.svg);
        bottom: -100px;
        right: 10%;
        transform: translate(-50%, -50%);

        @media screen and (min-width: 950px) {
          &::after {
            position: absolute;
            content: url(../../img/picto/star.svg);
          }

          &::before {
            position: absolute;
            content: url(../../img/picto/star.svg);
          }
        }

        @media screen and (min-width: 950px) {
          width: 50%;
        }
      }

      img {
        width: 280px;
        height: auto;
      }
    }
  }
}

// ------------ Last-recipe section ------------

section#last-recipe-section {
  background-color: $bg-orange;
  padding-top: 40px;

  @media screen and (min-width: 950px) {
    padding-top: 80px;
  }

  div#container-card-last-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
    text-align: center;

    @media screen and (min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    div#card-last-recipe {
      position: relative;
      width: 220px;
      margin: 0 20px 120px 20px;
      display: flex;
      flex-direction: column;

      h3#title-description-card {
        margin-top: 15px;
        margin-bottom: 20px;
      }

      figcaption {
        height: 100px;
        background-color: $bg-blue;
        background-position: 50%;
        border-radius: 25px;

        @media screen and (min-width: 750px) {
          height: 120px;
        }

        img {
          position: absolute;
          width: 80%;
          height: auto;
          top: -60px;
          left: 18px;
        }
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: $title-color;
      }
    }
  }
}

// ------------ share-recipe section ------------

section#share-recipe-section {
  background-color: $bg-orange;
  padding-bottom: 30px;

  div#container-card-share-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    figcaption {
      position: relative;
      width: 280px;
      height: 355px;
      background-image: url(../../img/picto/Image-pict-food.jpg);
      background-repeat: no-repeat;
      margin: 0 auto 30px;
      border-radius: 32px;

      @media screen and (min-width: 950px) {
        height: auto;
      }

      img {
        position: absolute;
        left: 25%;
        bottom: 0px;
        border-radius: 32px;

        @media screen and (min-width: 950px) {
          width: 180px;
          height: auto;
          left: 18%;
          bottom: 70px;
        }
      }
    }

    div#share-recipe-descrption {
      p {
        width: 90%;
        max-width: 500px;
        font-family: "PT Serif";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 155%;
        text-align: center;
        color: $title-color;
        margin: 20px auto;

        @media screen and (min-width: 950px) {
          font-size: 16px;
        }
      }

      div#counter-recipe {
        display: flex;
        justify-content: center;
        width: 280px;
        margin: 0 auto;
        background-color: $title-color;
        color: $bg-blue;
        border-radius: 50px;
        padding: 20px 60px;

        div.counter-recipe-comon {
          display: flex;
          flex-direction: column;

          span {
            margin-left: 15px;
            margin-right: 15px;
          }

          span.count {
            font-family: "Ultra", sans-serif;
            font-size: 24px;
            line-height: 31px;
            text-transform: uppercase;
          }

          span.type {
            font-weight: 700;
            font-size: 12px;
            line-height: 155%;
          }
        }
      }
    }
  }

  a#btn-show-recipe {
    display: flex;
    margin: 25px auto 40px;
    width: 90%;
    max-width: 350px;
    height: 51px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 24px 12px 12px;
    background: $a-color;
    color: $bg-blue;
    border-radius: 100px;

    @media screen and (min-width: 950px) {
      margin: 95px auto 70px;
      justify-content: space-around;
    }
  }
}

// ------------ category section ------------

section#category-section {
  background-color: $title-color;
  padding-top: 40px;
  padding-bottom: 30px;

  div#container-category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figcaption {
      display: flex;
      width: 280px;
      height: 280px;
      margin: 15px;
      background-image: url(../../img/img-test.jpg);
      background-size: cover;
      border-radius: 32px;

      @media screen and (min-width: 650px) {
        width: 347px;
        height: 275px;
      }

      &:last-of-type {
        width: 280px;
        height: 280px;

        @media screen and (min-width: 650px) {
          width: 736px;
          height: 275px;
        }
      }

      p {
        margin: auto;
        font-family: "Ultra", sans-serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: $title-color;
      }
    }
  }
}

// ------------ top-menu section ------------

section#top-menu-section {
  background-color: $bg-creame;
  padding-top: 40px;
  padding-bottom: 60px;

  h5.title-section-top-menu {
    padding: 5%;
  }

  div#container-card-top-menu-section {
    margin-top: 90px;

    div.card-slide-top-menu {
      width: 280px;
      height: fit-content;
      margin: 0 auto;

      figcaption {
        position: relative;
        height: 90px;
        background-color: $bg-orange;
        border-radius: 12px 12px 0 0;

        img {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%);
        }
      }

      div.description-card-slide {
        border-radius: 0 0 12px 12px;
        padding: 40px 20px;
        background-color: $bg-blue;

        span.title-card-slide {
          display: block;
          font-family: "Ultra";
          font-size: 20px;
          line-height: 150%;
          text-align: center;
          text-transform: uppercase;
          color: #ffe39a;
        }

        p {
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          color: $text-color;
        }

        a {
          display: flex;
          margin: 35px auto 20px;
          width: 220px;
          height: 51px;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          padding: 12px 24px 12px 12px;
          background: $bg-orange;
          color: $a-color;
          border-radius: 100px;
        }
      }
    }
  }
}

// ------------ top-menu section ------------

footer {
  background-color: $bg-orange;
  padding-top: 40px;
  padding-bottom: 80px;
  height: fit-content;

  hr#hr-top {
    margin-bottom: 40px;
  }

  p#title-newletter {
    font-family: "Ultra";
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    text-transform: capitalize;
    color: $title-color;
    margin-bottom: 30px;
  }

  form {
    position: relative;
    display: flex;
    width: 280px;
    margin: 0 auto;

    @media screen and (min-width: 950px) {
      width: 500px;
    }

    input#input-newletter {
      display: block;
      width: 280px;
      height: 68px;
      margin: 0 auto;
      padding: 15px;
      border-radius: 20px;
      background-color: transparent;
      border: 1px solid $white;
      color: $white;

      @media screen and (min-width: 950px) {
        width: 500px;
      }

      &::placeholder {
        color: $white;
      }
    }

    input#btn-subscribe {
      position: absolute;
      top: 15px;
      right: 22px;
      width: 120px;
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: $bg-blue;
      color: $white;
      border-radius: 20px;
      border: none;
    }
  }

  hr#hr-bottom {
    margin-top: 40px;
    margin-bottom: 50px;
    color: $white;
  }

  div#footer-bottom {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 950px) {
      justify-content: space-evenly;
      flex-direction: row;
    }

    div#footer-description {
      max-width: 400px;

      span {
        font-family: "Ultra";
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: $white;
      }

      p {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: $white;
        margin-bottom: 30px;
      }
    }

    ul {
      margin-bottom: 30px;

      li {
        font-size: 16px;
        line-height: 135%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $white;
        margin-bottom: 5px;

        &:first-child {
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.01em;
        }
      }
    }
  }
}
