*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
}

.row-limit-size {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffe5a2;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffebb7;
}
@media screen and (min-width: 950px) {
  h2 {
    font-size: 44px;
    line-height: 100%;
  }
}

h3 {
  font-family: "Ultra", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 124%;
  color: #ffebb7;
}

h4 {
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffebb7;
}
@media screen and (min-width: 950px) {
  h4 {
    font-size: 72px;
    line-height: 80px;
  }
}

h5 {
  font-family: "Ultra", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

header {
  mix-blend-mode: overlay;
  opacity: 1;
  background-image: url(../img/burger-mobile.png);
}
header nav {
  border-bottom: 0.5px solid #ffe5a2;
  background-color: #243763;
}
header nav div#container-nav-top {
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
}
header nav div#container-nav-top div#group-logo {
  margin-right: auto;
}
header nav div#container-nav-top div#group-logo a {
  font-family: "Ultra";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffe5a2;
}
header nav div#container-nav-top div#menu-nav ul {
  display: none;
}
@media screen and (min-width: 950px) {
  header nav div#container-nav-top div#menu-nav ul {
    display: flex;
  }
}
header nav div#container-nav-top div#menu-nav ul li {
  margin-left: 16px;
  margin-right: 16px;
}
header nav div#container-nav-top div#menu-nav ul li a {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffe5a2;
}
header nav div#container-nav-top div#menu-picto {
  margin-left: auto;
}
header nav div#container-nav-top div#menu-picto ul {
  display: flex;
}
header nav div#container-nav-top div#menu-picto ul li#picto-favorite,
header nav div#container-nav-top div#menu-picto ul li#picto-profile {
  display: none;
}
@media screen and (min-width: 950px) {
  header nav div#container-nav-top div#menu-picto ul li#picto-favorite,
  header nav div#container-nav-top div#menu-picto ul li#picto-profile {
    display: block;
  }
}
header nav div#container-nav-top div#menu-picto ul li#picto-burger {
  display: block;
}
@media screen and (min-width: 950px) {
  header nav div#container-nav-top div#menu-picto ul li#picto-burger {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  header nav div#container-nav-top div#menu-picto ul li {
    margin-left: 16px;
    margin-right: 16px;
  }
}
header nav div#container-nav-top div#menu-picto ul li a img {
  width: 24px;
  height: auto;
}
header nav div#container-nav-top div#menu-picto ul li a div#container-menu-buger {
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 950px) {
  header nav div#container-nav-top div#menu-picto ul li a div#container-menu-buger {
    display: none;
  }
}
header nav div#container-nav-top div#menu-picto ul li a div#container-menu-buger div.item-common-burger {
  width: 18px;
  height: 2px;
  background-color: #ffe5a2;
}

section#hero-section {
  background-color: #243763;
  padding-bottom: 100px;
}
@media screen and (min-width: 950px) {
  section#hero-section {
    padding-top: 80px;
  }
}
section#hero-section div#container-hero-section {
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section div#item-left-hero {
    width: 50%;
    position: relative;
  }
  section#hero-section div#container-hero-section div#item-left-hero::before {
    position: absolute;
    content: url(../../img/picto/Ornament-top.svg);
    top: -40px;
  }
}
section#hero-section div#container-hero-section div#item-left-hero span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 8px;
  margin: 28px 30px 8px 0;
  color: #ffe5a2;
}
section#hero-section div#container-hero-section div#item-left-hero p {
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  margin-top: 16px;
  color: #ffe5a2;
}
section#hero-section div#container-hero-section div#item-left-hero a#btn-show-recipe {
  display: flex;
  margin: 35px auto 40px;
  width: 250px;
  height: 51px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 12px 24px 12px 12px;
  background: #e8652e;
  color: #ffe5a5;
  border-radius: 100px;
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section div#item-left-hero a#btn-show-recipe {
    width: 50%;
    margin: 45px auto 40px;
  }
}
section#hero-section div#container-hero-section div#item-left-hero a#btn-show-recipe img {
  margin-right: 8px;
}
section#hero-section div#container-hero-section figcaption#item-right-hero {
  position: relative;
  text-align: center;
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section figcaption#item-right-hero {
    width: 50%;
  }
}
section#hero-section div#container-hero-section figcaption#item-right-hero::before {
  position: absolute;
  content: url(../../img/picto/star.svg);
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section figcaption#item-right-hero::before {
    display: none;
    width: 50%;
  }
}
section#hero-section div#container-hero-section figcaption#item-right-hero::after {
  position: absolute;
  content: url(../../img/picto/Ornament-bottom.svg);
  bottom: -100px;
  right: 10%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section figcaption#item-right-hero::after::after {
    position: absolute;
    content: url(../../img/picto/star.svg);
  }
  section#hero-section div#container-hero-section figcaption#item-right-hero::after::before {
    position: absolute;
    content: url(../../img/picto/star.svg);
  }
}
@media screen and (min-width: 950px) {
  section#hero-section div#container-hero-section figcaption#item-right-hero::after {
    width: 50%;
  }
}
section#hero-section div#container-hero-section figcaption#item-right-hero img {
  width: 280px;
  height: auto;
}

section#last-recipe-section {
  background-color: #e8652e;
  padding-top: 40px;
}
@media screen and (min-width: 950px) {
  section#last-recipe-section {
    padding-top: 80px;
  }
}
section#last-recipe-section div#container-card-last-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  text-align: center;
}
@media screen and (min-width: 750px) {
  section#last-recipe-section div#container-card-last-recipe {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe {
  position: relative;
  width: 220px;
  margin: 0 20px 120px 20px;
  display: flex;
  flex-direction: column;
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe h2#title-last-recipe-section {
  text-decoration: underline;
  margin-bottom: 40px;
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe h3#title-description-card {
  margin-top: 15px;
  margin-bottom: 20px;
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe figcaption {
  height: 100px;
  background-color: #243763;
  background-position: 50%;
  border-radius: 25px;
}
@media screen and (min-width: 750px) {
  section#last-recipe-section div#container-card-last-recipe div#card-last-recipe figcaption {
    height: 120px;
  }
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe figcaption img {
  position: absolute;
  width: 80%;
  height: auto;
  top: -60px;
  left: 18px;
}
section#last-recipe-section div#container-card-last-recipe div#card-last-recipe p {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ffebb7;
}

section#share-recipe-section {
  background-color: #e8652e;
  padding-top: 80px;
  padding-bottom: 30px;
}
section#share-recipe-section div#container-card-share-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 750px) {
  section#share-recipe-section div#container-card-share-recipe {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
section#share-recipe-section div#container-card-share-recipe figcaption {
  position: relative;
  width: 280px;
  height: 355px;
  background-image: url(../../img/picto/Image-pict-food.jpg);
  background-repeat: no-repeat;
  margin: 0 auto 30px;
  border-radius: 32px;
}
@media screen and (min-width: 950px) {
  section#share-recipe-section div#container-card-share-recipe figcaption {
    width: 400px;
    height: auto;
  }
}
section#share-recipe-section div#container-card-share-recipe figcaption img {
  position: absolute;
  left: 25%;
  bottom: 0px;
  border-radius: 32px;
}
@media screen and (min-width: 950px) {
  section#share-recipe-section div#container-card-share-recipe figcaption img {
    width: 180px;
    height: auto;
    left: 18%;
    bottom: 70px;
  }
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption p {
  width: 90%;
  max-width: 500px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #ffebb7;
  margin: 20px auto;
}
@media screen and (min-width: 950px) {
  section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption p {
    font-size: 16px;
  }
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption div#counter-recipe {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  background-color: #ffebb7;
  color: #243763;
  border-radius: 50px;
  padding: 20px 60px;
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption div#counter-recipe div.counter-recipe-comon {
  display: flex;
  flex-direction: column;
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption div#counter-recipe div.counter-recipe-comon span {
  margin-left: 15px;
  margin-right: 15px;
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption div#counter-recipe div.counter-recipe-comon span.count {
  font-family: "Ultra", sans-serif;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}
section#share-recipe-section div#container-card-share-recipe div#share-recipe-descrption div#counter-recipe div.counter-recipe-comon span.type {
  font-weight: 700;
  font-size: 12px;
  line-height: 155%;
}
section#share-recipe-section a#btn-show-recipe {
  display: flex;
  margin: 25px auto 40px;
  width: 90%;
  max-width: 350px;
  height: 51px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 24px 12px 12px;
  background: #ffe5a5;
  color: #243763;
  border-radius: 100px;
}

section#category-section {
  background-color: #ffebb7;
  padding-top: 40px;
  padding-bottom: 30px;
}
section#category-section div#container-category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#category-section div#container-category-section figcaption {
  display: flex;
  width: 280px;
  height: 280px;
  margin: 15px;
  background-image: url(../../img/img-test.jpg);
  background-size: cover;
  border-radius: 32px;
}
@media screen and (min-width: 650px) {
  section#category-section div#container-category-section figcaption {
    width: 347px;
    height: 275px;
  }
}
section#category-section div#container-category-section figcaption:last-of-type {
  width: 280px;
  height: 280px;
}
@media screen and (min-width: 650px) {
  section#category-section div#container-category-section figcaption:last-of-type {
    width: 736px;
    height: 275px;
  }
}
section#category-section div#container-category-section figcaption p {
  margin: auto;
  font-family: "Ultra", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffebb7;
}

section#top-menu-section {
  background-color: #ffebb7;
  padding-top: 40px;
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */