  {# ---------- Last-recipe section ---------- #}

  <section id="last-recipe-section">
    <h2 id="title-last-recipe-section">Dernières recettes bugers</h2>
    <div id="container-card-last-recipe" class="row-limit-size">
      {% for recipe in recipes %}
      <div id="card-last-recipe">
        <figcaption>
          <img src="./img/picto/pict-burger.svg" alt="burger" />
        </figcaption>
        <div class="description-card">
          <h3 id="title-description-card">{{ recipe.name }}</h3>
          <p>
            {{ recipe.description }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>