<footer>
  {# <hr id="hr-top" /> #}
  <p id="title-newletter">Souscrire à notre Newsletter</p>
  <form action="">
    <input type="text" placeholder="Votre adresse email" id="input-newletter" />
    <input type="submit" value="souscrire" id="btn-subscribe" />
  </form>
  <hr id="hr-bottom" />
  <div id="footer-bottom">
    <div id="footer-description">
      <span>Burger dev</span>
      <p>
        Lorem ipsum dolor sit amet consectetur. Amet a enim suspendisse auctor
        elit faucibus proin.
      </p>
    </div>
    <ul>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
    <ul>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
    <ul>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
  </div>
</footer>
